/proyectoConexionSQLite/nbproject/private/
/proyectoConexionSqlite/nbproject/private/
/proyectoConexionSqlite/build/
/proyecto_cookies/nbproject/private/
/proyecto_cookies/build/
/proyectochexk/nbproject/private/
/proyectochexk/build/
/4TEC/nbproject/private/
/4TEC/build/