/proyectoConexionSQLite/nbproject/private/
/proyectoConexionSqlite/nbproject/private/
/proyectoConexionSqlite/build/
/proyecto_cookies/nbproject/private/
/proyecto_cookies/build/
/proyectochexk/nbproject/private/
/proyectochexk/build/
/4TEC/nbproject/private/
/4TEC/build/
/javascript_1/nbproject/private/
/javascript_1/build/
/javascript_2/nbproject/private/
/javascript_2/build/
/4TEC_Javascript/nbproject/private/
/4TEC_Javascript/build/